.custom-textbox {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    border-radius: 20px;
    text-align: center;
}

    .custom-textbox:hover {
        border-color: #2e4ead;
    }

.btnSubmit {
    background-color: #2e4ead;
    color: white;
    padding: 10px 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

    /* Style for a button on hover */
    .btnSubmit:hover {
        background-color: #0056b3;
    }
.csscompanynm {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 15px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
}

    .csscompanynm:hover {
        border-color: #007bff;
    }
.gvcustomerscss {
    width: 100%; /* Set the width of the GridView to 100% */
    border-collapse: collapse; /* Collapse table borders */
}

    .gvcustomerscss th {
        background-color: #2e4ead;
        border-right-color: white;
        color: white; /* Header text color */
        height: 30px; /* Header height */
        text-align: center;
        font-size: 12px;
    }

    .gvcustomerscss td {
        background-color: white; /* Data row background color */
        color: black; /* Data row text color */
        text-align: center; /* Center-align data row text */
        height: 30px; /* Data row height */
        font-size: 14px;
        font-weight: bold;
    }
